@mixin font-face($font-family, $path, $weight: normal, $style: normal) {
	@font-face {
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;

		src: url('#{$path}.eot');
		src: url('#{$path}.eot?#iefix') format('embedded-opentype'),
		     url('#{$path}.woff2') format('woff2'),
		     url('#{$path}.woff') format('woff'),
		     url('#{$path}.ttf') format('truetype'),
		     url('#{$path}.svg##{$title}') format('svg');
	}
}
